@model IEnumerable<EntityLayer.Concrete.Comment>

<div class="comment-top">
    <h4>Yorumlar</h4>
    @if (Model.ToList().Count>0)
    {

        @foreach (var item in Model)
        {
            <div class="media">
                <img src="~/CoreBlogTema/images/t1.jpg" alt="" class="img-fluid" />
                <div class="media-body">

                    <h5 class="mt-0">@item.UserName</h5>
                    <p>
                        @item.Content
                    </p>
                </div>
            </div>
        }
    }
    else
    {
        <h5 class="mt-0">Henüz yorum yapılmadı</h5>
        <p>
            İlk yorumu siz yapın ..!
        </p>
    }
</div>
